
<%- include("header") -%>

<main>
  
  
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
  
    <div class="container marketing" bis_skin_checked="1">
  
      <!-- Three columns of text below the carousel -->
      <div class="row" bis_skin_checked="1">
       
        <div class="" bis_skin_checked="1">
          <h2 class="fw-normal">Check us out!</h2>
          <p>Welcome to < List />, the ultimate tool for managing your tasks, staying organized, and boosting productivity. Say goodbye to forgotten tasks and disorganized to-do lists; our platform offers a seamless and efficient way to manage your daily, weekly, and long-term tasks.</p>
          <p><a class="btn btn-secondary" href="<%=Title%>">Try it Now »</a></p>
        </div><!-- /.col-lg-4 -->
      
      </div><!-- /.row -->
  
  
      <!-- START THE FEATURETTES -->
  
      <hr class="featurette-divider">
  
      <div class="row featurette" bis_skin_checked="1">
        <div class="col-md-7" bis_skin_checked="1">
          <h2 class="featurette-heading fw-normal lh-1">Easy Task Management. <span  style="color: gray;" class="text-body-secondary">It’ll blow your mind.</span></h2>
          <p class="lead">Create, edit, and organize tasks effortlessly with an intuitive user interface.</p>
        </div>
        <div class="col-md-5" bis_skin_checked="1">
            <img style="height: 500px;" src="https://i.pinimg.com/736x/71/86/aa/7186aa7e3f112b4a15df2b6025636a01.jpg"
             alt="Your Image" class="img-fluid mx-auto d-block" width="500" height="100">      
              </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette" bis_skin_checked="1">
        <div class="col-md-7 order-md-2" bis_skin_checked="1">
          <h2 class="featurette-heading fw-normal lh-1">The Best Todo List! <span style="color: gray;" class="text-body-secondary">See for yourself.</span></h2>
          <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
        </div>
        <div class="col-md-5 order-md-1" bis_skin_checked="1">
            <img style="height: 500px;" src="https://i.pinimg.com/736x/98/c2/24/98c224411087686cdec6a94c07e175fe.jpg"
            alt="Your Image" class="img-fluid mx-auto d-block" width="500" height="100">  
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette" bis_skin_checked="1">
        <div class="col-md-7" bis_skin_checked="1">
          <h2 class="featurette-heading fw-normal lh-1">Why Choose Us? <span class="text-body-secondary" style="color: gray;">Checkmate.</span></h2>
          <p class="lead">Our Todo List is designed to simplify your life and enhance your productivity. Whether you're a student, professional, or someone looking to stay organized, we've got you covered. Start managing your tasks more efficiently, reduce stress, and achieve your goals with ease.</p>
        </div>
        <div class="col-md-5" bis_skin_checked="1">
            <img style="height: 500px; border-radius: 5px;" src="https://i.pinimg.com/736x/60/14/67/601467f513b7d6e660a840fcef9f1beb.jpg"
            alt="Your Image" class="img-fluid mx-auto d-block" width="500" height="100">          </div>
      </div>
  
      <hr class="featurette-divider">
  
      <!-- /END THE FEATURETTES -->
  
    </div><!-- /.container -->
  
  
  
  </main>

  <%- include("footer") -%>